

.Dates-modify{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    left: 50%;
    position: relative;
    width: 400px;
    margin:0%;
    overflow: hidden;
    background-color: rgb(164, 216, 247);
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    transform: translate(-30%, 7%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.Dates-modify h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}

  .Dates-modify::before, .Dates-modify::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .Dates-modify::after {
    left: -10%;
    bottom: 30%;
    background-color: rgba(2, 128, 144, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .Dates-modify > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .Dates-modify > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }

  /*Donnée -----*/
.dataTable {
    display: block;
    position: relative;
    width: 85%; 
    margin-top: 8%;
    left: 18%;
  }
  .dataTable thead, .dataTable tbody, .dataTable thead tr, .dataTable th {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.1%;
  }
  
  .dataTable thead {
    display: flex;
  }
  
  .dataTable tbody {
    width: 100%;
    position: relative;
    overflow-x: auto;
  }
  .dataTable td, .dataTable th {
    padding: 10px;
    line-height: 1em;
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .dataTable th {
    text-align: left;
    background: rgba(0, 0, 0, 0.14);
    border-bottom: 1px dashed #aaa;
  }
  .dataTable tbody tr {
    display: none;
  }
  .dataTable tbody td {
    display: block;
  }
  .dataTable tr:nth-child(odd) {
      background: rgba(0, 0, 0, 0.07);
  }
  @media screen and (min-width: 50em) {
  
    .dataTable {
      display: table;
    }
    .dataTable thead {
      display: table-header-group;
      float: none;
    }
    .dataTable tbody {
      display: table-row-group;
    }
    .dataTable thead tr{
      display: table-row;
    }
    .dataTable tbody .reveal {
      display: table-row;
    }
    .dataTable th, .dataTable tbody td {
      display: table-cell;
    }
    .dataTable td, .dataTable th {
      width: auto;
    }
    
  }



  .hidden{
    display: none;
}

.reveal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.reveal input[type="text"]{
    padding: 5px 10px;
    border: solid 3px black;
    font-size: 15px;
}

.reveal input[type="submit"]{
    padding: 8px 12px;
    border: solid 3px black;
    font-size: 15px;
    cursor: pointer;
}

.reveal input[type="date"]{
    padding: 5px 10px;
    border: solid 3px black;
    font-size: 15px;
}

.reveal button{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: solid 3px black;
}